<!DOCTYPE html>
<html>

<head>
  <title>SpaceREx</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>

<body>
  <div id="content">
    <div id="container">
      <canvas id="myCanvas" width=640 height=480 style="border:1px solid #000000;"></canvas>
      <div id="video">
        <img src="http://orobot:8080/stream/video.mjpeg">
      </div>
    </div>
    <div class="coordinates">
      <div id="xy" class="fixed">x y</div>
      <div id="cxcy" class="fixed">cx cy</div>
      <div id="lr" class="fixed">left right</div>
    </div>

    <br><br> Send:
    <input type="text" id="msg" maxlength="25" size="30" /> &nbsp;
    <input type="button" onclick="sendMsg();" value="Send" />
    <br> Received:
    <br>
    <textarea id="out" rows="4" cols="50"></textarea>
    <br>
    <input type="button" onclick="echo()" value="echo" />
    <input type="button" onclick="soundSheep()" value="sheep" />
  </div>

</body>

</html>
